#root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #bfbbbb;
}

#root #App {
    background-color: #fff;
    width: 90%;
    min-height: 20vh;
    box-shadow: 0 0 2px 5px #fafafa;
    padding: 1%;
}

#App h2 {
    color: #9e9995;
}

.responive-container {
    display: flex;
}
.responive-container .gr-1 {
    flex-grow: 1;
}
.responive-container .gr-6 {
    flex-grow: 6;
}

#search-zone {
    width: 60%;
}
#search-input {
    width: 98%;
    padding: 1%;
    border-radius: 10px;
}

#search-zone .btn-container {
    display: flex;
    justify-content: center;
}

#search-btn {
    border: 2px solid #a5878c;
    color: #9c5352;
    width: 60%;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main-zone {
    margin-top: 1%;
}
#map-zone {
    width: 60%;
    height: 40vh;
}
#ways-zone {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-left: 1%;
}

#ways-zone .item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    box-sizing: border-box;
    cursor: pointer;
}
#ways-zone img {
    width: 25%;
    padding: 4%;
    box-shadow: 0 0 2px 2px #fafafa;
}
#ways-zone .selected {
    background-color: green;
}

@media only screen and (max-width: 600px) {
    #search-zone {
        width: 100%;
    }

    .responive-container {
        flex-wrap: wrap;
    }
    .responive-container .mobile-full-width {
        width: 100% !important;
    }

    #search-btn {
        width: 40%;
    }

    .btn-container {
        margin-top: 1%;
    }

    #ways-zone {
        margin-left: 0%;
        margin-top: 1%;
    }
}